<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-section about-section">
            <h3>About Us</h3>
            <p>
                At Shree Krishna Books, we create thoughtfully crafted stationery for students and schools. From
                notebooks to pens and more, every product is designed with quality, durability, and a smooth writing
                experience in mind. Simple, reliable, and refined—Venbaa supports every idea from the first page to the
                last.
            </p>
        </div>

        <div class="footer-section links-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Notebooks</a></li>
                <li><a href="#">Pens</a></li>
                <li><a href="#">Office Supplies</a></li>
            </ul>
        </div>

        <div class="footer-section contact-section">
            <h3>Contact</h3>
            <div class="contact-info">
                <p><strong>Email</strong></p>
                <p><a href="mailto:shreekrishnabooks@outlook.com">shreekrishnabooks&#64;outlook.com</a></p>
                <p style="margin-top: 1.5rem;"><strong>Phone</strong></p>
                <p><a href="tel:+919600883884">+91 9600883884</a></p>
                <p><a href="tel:+919994730927">+91 9994730927</a></p>
                <p style="margin-top: 1.5rem;"><strong>Location</strong></p>
                <p>73 Kamarajar Street, Walajapet <br>Ranipet, TN 632 513</p>
            </div>
        </div>

        <div class="footer-section social-section">
            <h3>Social Media</h3>
            <div class="footer-social">
                <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>




    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Shree Krishna Notebooks. All rights reserved.</p>
    </div>
</footer>